<div class="container mt-4 table-responsive">
    <table class="table table-striped table-hover table-border ">
        <thead class="table text-white text-center">
            <tr>
                <th [ngStyle]="{'width':'100px'}">#</th>
                <th [ngStyle]="{'width': '150px'}">Nombre</th>
                <th>imagen</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr [ngStyle]="{'height':'100px '}" *ngFor="let poke of pokemons | filtro:page">
                <td>{{poke.id}}</td>
                <td>{{poke.name}}</td>
                <td>
                    <img [src]="poke.pic" [alt]="poke.name" [ngStyle]="{'width': '75px'}">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center mt-2">
    <button (click)="prevPage()" class="btn btn-lg btn-bg btn-text-color">
        Anteriores
    </button>
    &nbsp;
    <button (click)="nextPage()" class="text-color btn btn-bg btn-lg">
        Siguientes
    </button>
</div>